@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #5469d4;
  --error: #e7195a;
}

body {
  font-family: "lato", sans-serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.navbar {
  background-color: var(--primary);
  color: #fff;
  width: 100%;
  padding: 2rem 1rem;
}

.navbar a {
  margin: 2rem;
  font-size: 1.4rem;
}

/* dashboard */
.dashboard,
.employees,
.sch-dtl {
  max-width: 65rem;
  margin: 15px auto;
}
.dashboard h2 {
  text-align: center;
}
.dashboard a {
  text-decoration: underline;
}

/* employees */
.employees {
  display: flex;
  justify-content: space-around;
}

.new-employee {
  display: flex;
  flex-direction: column;
  width: 20rem;
  align-items: center;
}

.emp-btn {
  margin: 1rem;
}


/* employee detail */

.emp-detail {
  margin: 1rem;
  padding: 1rem;
  min-width: 448px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 7px;
}
p {
  font-size: 1.1rem;
  padding-bottom: 7px;
}
.emp-detail a {
  text-decoration: underline;
}



/* tables */

table,
th,
td {
  border: unset;
  padding: 1rem 0.5rem;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

th,
fieldset label {
  background-color: var(--primary);
  color: #fff;
}
tr:nth-child(even) {
  background-color: #f7f7f7;
}
tr:nth-child(odd) {
  background-color: #e0e0e0;
}
/* form for edit and delete employee */

form.employee-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  max-width: 448px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  border-radius: 5px;
}

/* buttons */

button {
  font-family: inherit;
  padding: 8px 14px;
  font-size: 16px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-container {
  width: 100%;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
/* form elements */

input,
label {
  padding: 3px 5px;
  margin: 5px 0;
  width: 80%;
  border: unset;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
}
select {
  padding: 8px 16px;
  background-color: #e0e0e0;
}

select:disabled {
  appearance: none;
  background: none;
  background-color: #e0e0e0;
  border: none;
  color: inherit;
  font: inherit;
  opacity: 1;
  padding: 8px 16px;
}

/* schedule detail */
.sch-dtl > div {
  width: 60rem;
  padding: 0.5rem 2rem;
  margin: 0 auto;
}
.sch-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sch-form div {
  margin: 1rem 0;
  display: flex;
}
fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}
fieldset label {
  border-radius: 0;
  margin: 0;
}
fieldset label,
fieldset input {
  padding: 1rem;
  width: 8rem;
}

/* errors */

.error {
  color: #e7195a;
}


/* mobile view */
@media (max-width: 480px) {
  
  .dashboard,
  .sch-dtl {
    margin: 10px;
    overflow-x: scroll;
  }
  
  .employees {
    flex-direction: column-reverse;
    align-items: center;
  }

  .emp-detail {
    min-width: 0;
    width: 350px;
  }

  }
