@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "lato", sans-serif;
    background-color: #f2f2f2;
}

.navbar{
    padding: 40px;
    background-color: #0f0e0e;
    color: #fff;
}

.navbar a{
    margin-right: 10px;
    text-decoration: none;
}

/* employee detail */

.employee-detail {
    margin: 10px auto;
}

/* tables */
.schedules {
    width: 600px;
    margin: 15px auto;
}

table, th, td {
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

th, td{
    width: 100px;
}

/* form for edit and delete employee */

form.employee-form{
    margin-left: 10rem;  /* change this later */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    max-width: 448px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    border-radius: 5px;
}

button{
    font-family: inherit;
    padding: 8px 14px;
    font-size: 16px;
    background-color: #5469d4;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.btn-container{
    display: flex;
    margin: 10px 0;
}
.btn-container button {
    margin: 0 40px;
}

input, label{
    padding: 3px 5px;
    margin: 5px 0;
    width: 80%;
    border: unset;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
}

